@import url("base/reset.css");

@font-face {
  font-family: 'Neutra Display';
  src: url('../fonts/NeutraDispLightAlt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NeutraDispLightAlt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NeutraDispLightAlt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NeutraDispLightAlt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NeutraDispLightAlt.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Neutra Text';
  src: url('../fonts/NeutraTextBookAlt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NeutraTextBookAlt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NeutraTextBookAlt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NeutraTextBookAlt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NeutraTextBookAlt.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* =============
  Box fix
============= */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* =============  
  Clear fix  
============= */
.clear:before,
.clear:after {
 	content: "";
 	display: table;
}
.clear:after {
 	clear: both;
}
.clear {
 	*zoom: 1;
}

/* =============
	Vertical Centering
============= */
.vertical-align-wrapper {
	height: 100%;
}

.vertical-align-wrapper:before,
.vertical-center,
.vertical-bottom,
.vertical-top {
	display: inline-block;
}

.vertical-align-wrapper:before,
.vertical-center {
	vertical-align: middle;
}

.vertical-bottom {
	vertical-align: bottom;
}

.vertical-top {
	vertical-align: top;
}

.vertical-align-wrapper:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

/* =============
	Grid/Helpers
============= */
.grid {
	width: 100%;
}

.row {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
[class*='col-'] {
	float: left;
	padding-right: .5rem;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-']:first-of-type {
  padding-left: .5rem;
}

.col-no-outer-pad:first-of-type {
	padding-left: 0;
}

.col-no-outer-pad:last-of-type {
	padding-right: 0;
}

.col-1-3 { width: 33.33%; }
.col-2-3 { width: 66.67%; }
.col-1-4 { width: 25%; }
.col-1-2 { width: 50%; }
.col-3-4 { width: 75%; }
.col-1-5 { width: 20%; }
.col-2-5 { width: 40%; }
.col-3-5 { width: 60%; }
.col-4-5 { width: 80%; }
.col-15-pct { width: 15%; }
.col-1 { width: 100%; }
.col-1-10 { width: 10%; }
.col-3-10 { width: 30%; }
.col-7-10 { width: 70%; }
.col-9-10 { width: 90%; }

.col-last {
	float: right;
}

.inside-button-wrapper,
.inside-button-outer {
	position: relative;
	margin: 0;
}

.inside-button-button {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.center {
	text-align: center;
}

/* =============
	Basics
============= */
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

select,
option,
#booking-form input[type="text"],
#booking-form input[type="tel"],
#booking-form input[type="email"],
#booking-form input[type="password"],
.overlay-wrapper {
	z-index: 996;
	position:fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	visibility: hidden;
}

.overlay {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2rem;
	overflow: hidden;
	background: black url('../img/fbg.jpg');
	background-position: right center;
	background-size: cover;
}

.modal-content {
	z-index: 999;
}

.modal-wrapper {
	z-index: 999;
	position: relative;
}

.blur {
	filter: blur(8px); 
	-webkit-filter: blur(8px); 
	-moz-filter: blur(8px);
	-o-filter: blur(8px); 
	-ms-filter: blur(8px);
	filter: url('blur.svg#blur');
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='8'); 
}

/* =============
	Typography
============= */
body {
	font-family: 'Neutra Display';
	font-size: 14px;
}

h1, h2, h3, button, span,
#booking-form #packages-button,
#booking-form input[type="radio"] + label {
	font-family: 'Neutra Text';
}

fieldset,
input,
.btn-login,
#forgot {
	font-family: 'Roboto Slab';
}

.booking-result section:last-of-type h2,
.userbar-header-info {
	font-family: 'Neutra Display';
}

#booking-form #packages-button,
#booking-form input[type="radio"] + label {
	font-weight: bold;
}

.logo {
	text-transform: uppercase;
	font-size: 4.5rem;
}

nav li {
	font-size: 2.4rem;
}

#booking-form h2 {
	font-size: 2.25rem;
}

.userbar input,
.login button,
.userbar-header-info,
#booking-form button,
select,
option,
#booking-form input[type="text"],
#booking-form input[type="tel"],
#booking-form input[type="email"],
#booking-form input[type="password"],
#booking-form h3 {
	font-size: 1.5rem;
	
}

.userbar input,
.login button,
.userbar-header-info,
#booking-form button,
select,
option,
#booking-form input[type="text"],
#booking-form input[type="tel"],
#booking-form input[type="email"],
#booking-form input[type="password"],
#booking-form h3 {
	line-height: 2.5rem;
}

.btn-standard,
#booking-form #packages-button,
#booking-form input[type="radio"] + label {
	font-size: 2rem;
}

#booking-form #packages-button,
#booking-form input[type="radio"] + label {
	line-height: 3rem;
}

#content-main h2 {
	font-size: 3rem;
}

#content-main p {
	font-size: 2.75rem;
}

.response {
	font-weight: bold;
}

/*TODO: Might only need span here */
span,
.form-detail,
.response {
	font-size: 1.25rem;
}

.booking-result section:last-of-type h2 {
	font-weight: lighter;
	font-size: 2.5rem;
}

.options input {
	line-height: 1.5rem;
	font-size: 1rem;
}

.userbar input,
.login button {
	line-height: 2rem;
	font-size: 1.5rem;
}

/* END OF TYPOGRAPHY */

/* =============
	Visual Styles
============= */
button,
.btn-standard,
/*.login button,*/
#booking-form #packages-button,
#booking-form input[type="radio"] + label,
#user-button-wrapper {
	background-color: rgb(252, 220, 226);
}

.option-button,
.btn-standard:hover,
.userbar-header-info,
.user-button,
.booking-result section:last-of-type,
.booking-result section:last-of-type h2,
#booking-form #packages-button:hover,
#booking-form button:hover,
#booking-form input[type="radio"] + label:hover,
#booking-form input[type="radio"]:checked + label {
	background-color: transparent;
}

.userbar input,
.booking-result section:first-of-type,
#booking-form fieldset
{
	background-color: rgba(252, 220, 226, .65);
}

select,
option,
#booking-form input[type="text"],
#booking-form input[type="tel"],
#booking-form input[type="email"],
#booking-form input[type="password"],
.overlay-wrapper {
	background-color: rgba(0, 0, 0, .65);
}

nav,
footer,
.userbar,
.user-option-box {
	background-color: rgba(0, 0, 0, .45);
}

.span-btn,
select,
option,
#booking-form input[type="text"],
#booking-form input[type="tel"],
#booking-form input[type="email"],
#booking-form input[type="password"],
.option-button:hover {
	color: rgb(252, 220, 226);
}

.booking-result section:last-of-type h2 {
	color: rgba(252, 220, 226, .65);
}

button,
.btn-standard, 
.user-button span,
#booking-form #packages-button,
#booking-form input[type="radio"] + label
{
    color: black;
}

a,
body,
.option-button,
.userbar-header-info {
	color: white;
}

.booking-result h3,
.booking-result section:first-of-type h2,
#booking-form span {
	color: rgba(0, 0, 0, .65);
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

#booking-form ::-webkit-input-placeholder {
   color: rgb(252, 220, 226);
}

#booking-form :-moz-placeholder { /* Firefox 18- */
   color: rgb(252, 220, 226);  
}

#booking-form ::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(252, 220, 226);  
}

#booking-form :-ms-input-placeholder {  
   color: rgb(252, 220, 226);  
}

a {
	text-decoration: none;
}

button, input {
	border: 0;
}

button {
	cursor: pointer;
}

.login {
	padding: 0 .25rem;
}

input {
	padding: .25rem .5rem;
}

.login input,
.login button,
.btn-login {
	padding: .25rem; 
}

.btn-standard {
	padding: .5rem 1rem;
	border: 2px solid rgb(252, 220, 226);
}

#booking-form fieldset {
	padding: 1.5rem;
}

/* =============
	Std Layout
============= */
.btn-login {
	display: inline;
}

footer img {
	float: left;
	width: 3rem;
}

.login input,
.login button,
.btn-login {
	margin-left: .6rem;
}

#userbar-header {
	height: 3.5rem;
	float: right;
}

/* =============
Responsive Layout
============= */
@media screen and (min-width: 400px)  {
	body {
		font-size: 7px;
		padding: 0;
	}

	.overlay {
		padding: 0;
	}

	header {
		display: block;
		text-align: center;
	}

	.userbar {
		display: block;
		width: 100%;
		position: relative;
	}

	.user-option-box {
		display: none;
		position: absolute;
		top: 3.5rem;
	}

	#greeting {
		margin: 0 auto;
	}

	nav {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		height: 8%;
	}

	footer {
		position: fixed;
		bottom: 8%;
		margin: 0 auto;
	}

	nav li {
		float: left;
		width: 25%;
		text-align: center;
	}

	#content-main {
		text-align: center;
		padding: 2rem;
		width: auto;
	}
}
@media screen and (min-width: 600px)  {
}
@media screen and (min-width: 1000px) {
	nav li:hover {
		color: rgb(252, 220, 226);
	}

	body,
	.overlay {
		padding: 2rem;
	}

	.logo {
		float: left;
		margin-bottom: 3rem;
	}

	.userbar {
		top: 2rem;
		right: 2rem;
		height: 3.5rem;
		position: fixed;
		width: auto;
	}

	.user-option-box {
		position: fixed;
		top: 5.5rem;
		display: none;
	}

	nav {
		float: left;
		margin-left: 1rem;
		position: static;
		bottom: auto;
	}

	nav li {
		padding: .75rem;
		display: block;
		cursor: pointer;
		float: none;
	}

	nav li:hover {
		margin-right: -3px;
		border-right: 3px solid rgb(252, 220, 226);
	}

	footer {
		position: fixed;
		right: 2rem;
		bottom: 2rem;
		padding-left: 1rem;
		height: auto;
	}

	footer img {
		margin: .5rem 1rem .5rem 0;
	}

	#content-main {
		margin-left: 3rem;
		padding: 1rem;
		width: 35%;
		bottom: 3rem;
		position: fixed;
		text-align: left;
	}
}
/*@media screen and (min-width: 1400px) {
}*/

/* =============
	Index/Main
============= */
/* TODO Figure out sizing and stuff for this weird content-main case */
#content-main h2 {
	margin-bottom: 2rem;
}

.btn-book {
	margin-top: 1.8rem;
	position: relative;
}

/* =============
	Booking 
============= */
#booking-form,
#booking-form fieldset {
	width: 450px;
}

#booking-form fieldset {
	overflow: hidden;
}

#booking-form {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

#booking-form #booking-success,
#booking-form fieldset {
	width: 100%;
	position: absolute;
}

#booking-form h2 {
	margin-bottom: 2rem;
}

.response {
	display: none;
}

.form-detail,
.response,
#booking-form .grid {
	margin-bottom: 1rem;
}

.btn-booking-back,
.btn-booking-next {
	width: 40%;
}

.btn-booking-back {
	float: left;
	margin-left: .5rem; /* matches grid first of type padding left */
}

.btn-booking-next {
	float: right;
}

.btn-booking-only {
	float: none;
	margin: 0 auto;
	width: 70%;
}

.form-sub-result {
	display: block;
	margin-bottom: 1rem;
}

#booking-form input[type="radio"] {
	position: absolute;
	opacity: 0;
	-moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
}

select,
option,
#booking-form input[type="text"],
#booking-form input[type="tel"],
#booking-form input[type="email"],
#booking-form input[type="password"] {
	width: 100%;
	padding: 0 .75rem;
}

#booking-form #packages-button,
#booking-form input[type="radio"] + label {
   display: block;
   padding: .5rem;
   width: 80%;
   margin: .5rem auto;
   cursor: pointer;
}

#booking-form input[type="radio"] + label {
   position: relative;
}

#booking-form #packages-button,
#booking-form button,
#booking-form input[type="radio"] + label {
	border: 2px solid rgb(252, 220, 226);
}

#coupon-wrapper {
	width: 80%;
	margin: 0 auto;
}

#date {
	position: relative;
	z-index: 999;
}

#booking-product {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid rgba(0, 0, 0, .6);
}

#booking-product div:not(:first-of-type) {
	display: none;
}

#price-detail td:first-of-type {
	text-align: left;
}

#price-detail td:last-of-type {
	text-align: right;
}

.booking-result {
	display: none;
}

.booking-result section:first-of-type,
.booking-result section:last-of-type {
	padding: 3.5rem 1.5rem;
}

#booking-form fieldset {
	display: none;
}

/* ============
	User Bar
============= */

#userbar-header span {
	border-right: 3px solid rgb(252, 220, 226);
}

#userbar-header button {
	border-right: 3px solid rgb(252, 220, 226);
	border-left: 3px solid rgb(252, 220, 226);
}

#userbar-header button:last-of-type {
	border-right: 0;
}

.userbar-header-info {
	padding: 0 .5rem;
	display: inline-block;
	margin: 0;
	cursor: pointer;
}

#user-button-wrapper {
	float: left;
	position: relative;
}

.user-button {
	padding: .25rem 0;
	text-align: center;
}

.user-button button {
	margin: 0;
}

.user-button span {
	padding: .25rem .5rem;
	margin: 0;
}

.user-option-section {
	border-bottom: 2px solid rgba(0, 0, 0, .65);
	padding: 1rem;
}

.options span {
	display: block;
	padding: .25rem;
}

.option-button {
	margin: 0;
	padding: 0 0 0 1rem;
	display: block;
}

.option-button span {
	padding: 0;
}

.options input {
	display: block;
	padding: .5rem;
	margin: .5rem 0;
}

.options-edit {
	display: none;
}

#change-password {
	display: none;
}

.span-btn {
	cursor: pointer;
}

#services-details {
	display: none;
}